.navigation {
    flex-grow: 0;
    position: relative;
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 0;
}

.navigation_title {
    color: var(--font-color);
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
}

.navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
    z-index: 11;
}

.navigation__logo {
    line-height: 0;
    cursor: pointer;
}

.navigation__logo svg {
    fill: var(--font-color);
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__parent {
    position: relative;
    z-index: 2;
}

.navigation__submenu {
    visibility: hidden;
    opacity: 0;
    width: auto;
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: -1;
    top: 20px;
    padding: 10px 20px 20px;
    display: flex;
    left: 0;
    flex-direction: column;
    gap: 10px;
    background-color: var(--card-bg-color);
    transition: all 500ms ease-in-out;
}

.navigation__submenu--visible {
    visibility: visible;
    opacity: 1;
    top: 40px;
}

.navigation__item {
    display: flex;
    align-items: center;
    color: var(--font-color);
    background-color: var(--card-bg-color);
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
    transition: opacity 0.2s linear;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.navigation__item:hover {
   opacity: 0.8
}


.navigation__item--child {
    padding: 0;    
    white-space: nowrap;
}

.navigation__item--disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
}

.navigation__item--active {
    color: var(--accent);
}

.navigation__item--active:hover {
    color: var(--accent);
}

.navigation__item--mobile-alone {
    display: none;
}

.navigation__item--external {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.navigation__item--external span {
    font-size: 12px;
    line-height: 24px;
    vertical-align: middle;
    color: var(--font-color);
}

.navigation__item--external svg {
    fill: var(--font-color);
}

.navigation__item--external:hover {
    color: var(--font-color);
}

.navigation__imgSK {
    fill: var(--font-color);
    margin-right: 5px;
}


.navigation__imgSK svg g {
    fill: var(--font-color);
}

.navigation__burger {
    display: none;
}

@media screen and (max-width: 1080px) {
    .navigation {
        min-height: 55px;
    }

    .navigation__container {
        padding: 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation__item {
        font-size: 16px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px; 
        color: var(--font-color);
        background-color: transparent;
        text-align: left;
    }

    .navigation__item--active {
        color: var(--accent);
    }

    .navigation__item--mobile-alone {
        display: block;
    }

    .navigation__item--child {
        padding-left: 40px; 
    }

    .navigation__submenu {
        width: 100%;
        position: static;
        padding: 0;
        gap: 0;
        border-radius: 0;
        background-color: transparent;
        visibility: visible;
        opacity: 1;
        display: none;
    }

    .navigation__submenu::before {
       display: none;
    }

    .navigation__parent {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .navigation__list {
        position: fixed;
        top: 55px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 50px 25px;
        transform: translateX(100%);
        transition: transform 0.5s;
        background-color: var(--bg-color-opacity);
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        margin-left: 0;
        /* overflow-y: scroll; */
    }

    /* if backdrop support: very transparent and blurred */
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .navigation__list {
            -webkit-backdrop-filter: blur(50px);
            background-color: var(--bg-color-opacity);
            backdrop-filter: blur(20px);
        }
    }

    .navigation__list.navigation__list--visible {
        display: flex;
        transform: translateX(0);
    }

    .navigation__burger {
        display: block;
    }
}