/* Layout container */
.layout {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    gap: 30px;
  }
  .title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    color: var(--font-color);
  }

  .buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
  }
  /* Column general styles */
  .column {
    box-sizing: border-box;
  }
  
  /* Specific column styles */
  .columnLeft {
    flex-basis: 500px;
    flex-shrink: 0;
    background-color: var(--card-bg-color);
    padding: 20px;
  }
  
  .columnRight {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: var(--bg-color);
  }

  .button-contained {
    background-color: var(--accent);
  }

  .button-outlined {
    background-color: var(--accent);
  }
  
  .container_chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    height: 300px;
    width: 48%;
    padding: 15px;
    align-items: center;
    background-color: var(--card-bg-color);
  }

  .container_chart_title {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    color: var(--font-color);
    padding-left: 30px;
    padding-top: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: var(--secondary-card-bg-color);
    background-color: var(--card-bg-color);
}

.person {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    background-color:  #505050;
    border-radius: 30px;
}

.person__avatar-container {
    display: flex;
    width: 30%;
}

.person__avatar {
    border-radius: 50%;
    width: 100%;
    background-color: var(--secondary-card-bg-color);
    align-self: flex-end;
}

.person__info {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0px 0px 0px 20px;
}


.person__name {
  color: #fff;
    margin-bottom: 5px;
    text-align: left;
    font-size: 32px;
    line-height: 36px;
    width: 100%;
    white-space: pre-line;
}

.person__bio {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 100%;
    color: #fff;
    white-space: pre-line;
}

.person__profession {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    width: 100%;
    margin-bottom: 5px;
    white-space: pre-line;
}

@media screen and (max-width: 768px) {
    .team {
        gap: 20px;
    }
    .person {
        width: 100%;
        min-height: auto;
    }

    .person__name {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .person__profession {
        margin-bottom: 5px;
    }

    .person__info {
        padding: 0px 0px 0px 15px;
    }
}

.menu_link {
  color: var(--font-color);
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: left;
  font-size: 32px;
  line-height: 36px;
  width: 100%;
  white-space: pre-line;
}